@media (max-width:992px) {
	.promo {
		padding: 30px;
		&__wrapper {
			margin-top: 150px;
			
		}
		&__header {
			font-size: 35px;
     		font-weight: 600;
			margin: 20px;
		}
		&__icons {
			margin-top: 140px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	} 
	.title {
		font-size: 30px;
    	font-weight: 700;
	}
	.button__page {
		 margin-top: 67px;
		 width: 300px;
		 height: 50px;
		 font-size: 16px;
	}
	.advantages {
		padding: 40px 30px;
		&__item {
			padding: 10px;
		}
	}
	.consultation {
		padding: 40px 20px;
	}
	.carousel {
		padding: 101px 0 25 ;
		&__inner {
			padding: 20px 0px;
		}
		.slick-dots {
			margin-top: 35px;
		}
	}
	.catalog {
		margin: 0 20px;
		&-item__new-prices {
			font-size: 30px;
    		font-weight: 700;
		}
		&-item__old-prices {
			font-size: 20px;
    		font-weight: 300;
		}
		&__content_active {
			display: flex;
			justify-content: space-around;
		}
	}
	.footer__info {
		width: 360px;
      height: 170px;
	}
}

@media (max-width:768px) {
	.header {
		font-size: 35px;
     	font-weight: 600;
		margin: 20px;
		&__official {
			display: none;
		}
	}
	.promo__icons {
		margin-top: 140px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title {
		font-size: 30px;
    	font-weight: 700;
	}
	.button__page {
		 margin-top: 67px;
		 width: 300px;
		 height: 50px;
		 font-size: 16px;
	}
	.advantages {
		padding: 40px 30px;
		&__item {
			padding: 10px;
		}
	}
	.consultation {
		padding: 40px 20px;
	}
	.carousel {
		padding: 101px 0 25 ;
		&__inner {
			padding: 20px 0px;
		}
		.slick-dots {
			margin-top: 35px;
		}
	}
	.catalog {
		margin: 0 20px;
		&-item__new-prices {
			font-size: 30px;
    		font-weight: 700;
		}
		&-item__old-prices {
			font-size: 20px;
    		font-weight: 300;
		}
		&__content_active {
			display: flex;
			justify-content: space-around;
		}
	}
	.footer__info {
		width: 360px;
      height: 170px;
	}
}


@media (max-width:576px) {
	.header {
		margin: 20px;
		&__official {
			display: none;
		}
		&__logo {
			margin-right: 25px;
		}
		&__phone {
			font-size: 13px;
		}
	}
	.promo__wrapper {
		.button_main {
			margin: 0 auto;
			width: 300px;
    		height: 55px;
			font-size: 16px;
			margin-top: 20px;
		}
		
	}
	.advantages__wrapper {
		flex-direction: column ;
		align-items: center;
	}
	.promo {
		padding: 15px;
		&__wrapper {
			margin-top: 70px;
		}
		&__header {
			font-size: 35px;
			letter-spacing: 5px;
			text-align: center;
			}
		&__subheader {
			margin-top: 50px;
			text-align: center;
			font-size: 25px;
			letter-spacing: normal;
			}	
		&__icons {
			margin-top: 75px;
			width: 100%;
		}
		&__link {
			margin: 0 auto;
			margin-top: 10px;
		}
	}
	.consultation {
		.title {
			text-align: center;
			font-size: 24px;
		}
		&__descr {
			text-align: center;
			font-size: 17px;
			margin-top: 50px;
			margin-bottom: 100px;
		}
		.feed-form {
			display: flex;
			width: 100%;
		}
	}
	.catalog {
		&__tab {
			font-size: 11px;
		}
	}
	.carousel__inner {
		width: 100%;
		margin: 20px auto;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.feed {
		&__item {
			flex-direction: column;
			img {
				margin: 0 auto;
			}
		}
		&__text {
			margin-top: 10px;
			text-align: center;
		}
	}
	.overlay .modal {
		top: 50%;
		margin-right: 10px;
    	transform: translate(-50%, -50%);
		 width: 380px;
	 &__close {
		right: 10px;
		cursor: pointer;
	  }
	}
	.feed-form input {
		font-weight: 320px;
	}
	.modal .modal_mini {
		min-height: 120px;
  }
}